@import "base/variables";

// foundation
@import "foundation";
@include foundation-everything;

// Components
@import "fonts/font";

body {
  font-family: 'Roboto', "Segoe UI", Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
  background-color: black;
}

button, .button {
  @include rounded-corners(0.15rem);
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
  outline: 0;
  margin: 0;
}

h3 {
  margin-bottom: 0.3rem
}

label {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: $font-size;
}

.button__text {
  font-size: 1.5rem;
  color: white;
}

.modal-open {
  overflow: hidden;
}

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}

.video__div {
  text-align: center;
  align-items: center;
}

.text {
  color: white;
  font-size: $font-size;
}

.zoom__button,.analyze:hover {
  cursor: pointer;
}

.zoom__value {
  width: 2.8rem;
}

.zoom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoom__div {
  margin-top: 0.4rem;
}

.center__div {
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.85);
  color: #14679e;
  @include rounded-corners(0.3rem);
  label {
    color: #14679e;
  }
}

.placeholder {
  opacity: 0
}

.direction {
  :hover {
    cursor: pointer;
  }
}

.float__bottom {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 60%;
  max-width: 550px;
  opacity: 0.7;
}

.bottom__left {
  right: 0;
  width: 19.5rem;
  text-align: right;
}

.columns {
  width: auto;
}

.user__button {
  padding: 0.05rem 0.2rem 0.2rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.button__left {
  margin-right: 0rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.control__left {
  text-align: center;
  border: solid 1px;
  margin: 0.5rem 0 0.5rem 0.5rem;
  height: 10rem;
}

.control__right {
  text-align: center;
  border: solid 1px;
  margin: 0.5rem 0.5rem 0 0;
  height: 10rem;
}

.control__hidden {
  display: none;
  visibility: hidden;
}

.control {
  margin-bottom: 0;
  line-height: 1;
}

.fade__in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.ReactModal__Overlay {
  transition: opacity 500ms ease-in-out;
  opacity: 0;

  &--after-open {
    opacity: 1;
  }

  &--before-close {
    opacity: 0;
  }
}
